ul a {
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}

nav {
    padding-left: 79vw;
    top: 2vw;
    position: absolute;
}

#logo {
    width: 100px;
    height: 100px;
}

#logotext {
    top: 2vw;
    padding-left: 7vw;
    position: absolute;
    color: black;
    margin-right: 15px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}

#plaatje1 {
    width: 1920px;
    height: 1080px;
    position: block;
}

#informatietext {
    padding-left: 45vw;
    padding-bottom: 2vw;
    padding-top: 10vw;
}

#informatietext2 {
    padding-left: 0vw;
    text-align: center;
}

nav ul a {
  font-family: 'Bebas Neue', cursive;
}

.wrapper {
    margin-left: 40vw;
    margin-top: 8vw;
}